<app-cabecera [componente]="'home'" [usuario]="usuarioActual" (evento)= "salir($event)"></app-cabecera>

<div class="principal">
  <div class="spinner-container" *ngIf="this.loading">
    <mat-spinner class="spinner"></mat-spinner>
  </div>

  <div *ngIf="!this.loading" class="div-container">
    <div *ngIf = 'this.logueado' class="card-h">
        <button class="boton-juegos hvr-glow hvr-pulse" mat-raised-button matTooltip="Accede a los juegos" [routerLink]="['/juegos']"></button>
        <button class="boton-lista hvr-glow hvr-pulse" mat-raised-button matTooltip="Accede a los listados de puntuaciones" [routerLink]="['/principal/listados']"></button>
    </div>
    <app-encuesta [usuario]="usuarioActual"></app-encuesta>
  </div>
</div>






