

.label{

  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: medium;

}

.form-field{
  width: 100%;
}

.boton-enviar{
  width: 100%;
  background-color: rgba(255, 2, 2, 0.774);
  color: white;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: x-large;

}

.titulo-form{
  font-size: 30px;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.input-font{
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

