<mat-toolbar class="tulbar"color="dark">
  <span class="titulo"> SALA DE JUEGOS</span>
  <mat-toolbar-row >
    <span class="espaciador"></span>
    <button mat-button class="boton-bar hvr-shadow" [routerLink]="['/']"> VOLVER <mat-icon>replay</mat-icon></button>
  </mat-toolbar-row>
</mat-toolbar>



<br><br><br>

<mat-card class="card-position">
  <mat-card-header>
    <span class="espaciador"></span>
    REGISTRO DE USUARIO
    <span class="espaciador"></span>

  </mat-card-header>
  <br>
  <mat-divider></mat-divider>
  <br>
  <mat-form-field>
    <mat-label class="input">Correo electrónico</mat-label>
    <input matInput type="email"  [(ngModel)]="usuario.correo">
    <button mat-button *ngIf="usuario.correo" matSuffix mat-icon-button aria-label="Clear" (click)="usuario.correo=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <br>
  <mat-form-field style="width: 100%;">
    <mat-label class="input">Contraseña</mat-label>
    <input matInput type="password" [(ngModel)]="usuario.clave">
    <button mat-button *ngIf="usuario.clave" matSuffix mat-icon-button aria-label="Clear" (click)="usuario.clave=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
    <br>
    <mat-form-field>
    <mat-label class="input">Repetir contraseña</mat-label>
    <input matInput type="password" [(ngModel)]="claveConfirmada">
    <button mat-button *ngIf="claveConfirmada" matSuffix mat-icon-button aria-label="Clear" (click)="claveConfirmada=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <br>
  <br>
  <button mat-raised-button style="width: 100%; background-color: rgba(255, 2, 2, 0.774);" (click)="registrarse()">Enviar datos</button>
</mat-card>
