

<mat-toolbar class="tulbar"color="dark">
  <span class="titulo"> SALA DE JUEGOS</span>
  <mat-toolbar-row >
    <span class="espaciador"></span>
    <button mat-button class="boton-bar hvr-shadow" (click)="login()"> INGRESAR <mat-icon>login</mat-icon></button>
    <button mat-button class="boton-bar hvr-shadow" (click)="registro()"> REGISTRARSE <mat-icon>control_point</mat-icon></button>
    <button mat-button class="boton-bar hvr-shadow" (click)="quiensoy()">QUIEN SOY<mat-icon>sentiment_satisfied_alt</mat-icon></button>
  </mat-toolbar-row>
</mat-toolbar>

<button class="boton-juegos hvr-glow" mat-raised-button matTooltip="Accede a los juegos" (click)="ejercicio()"></button>
<button class="boton-lista hvr-glow" mat-raised-button matTooltip="Accede a los listados de puntuaciones"></button>





