<button mat-icon-button class="encuesta-btn">
  <mat-icon>list_alt</mat-icon>
</button>

<div class="encuesta-popup">

  <form [formGroup]="formGroup" (ngSubmit)="aceptar()">
    <span class="tipografia">ENCUESTA DE SATISFACCIÓN</span>
    <mat-divider></mat-divider>


    <div class="div-form">
      <br>
        <mat-label for="nombre">Nombre</mat-label>
        <input type="text" class="form-control" id="nombre" placeholder="Ingrese nombre" formControlName="nombre">
        <small class="invalid" *ngIf="formGroup.get('nombre')?.errors?.required && formGroup.get('nombre')?.touched">El nombre es requerido</small>
        <small class="invalid" *ngIf="formGroup.get('nombre')?.errors?.contieneEspacios && formGroup.get('nombre')?.touched">El nombre no puede tener espacios</small>

        <br>
        <mat-label for="apellido">Apellido</mat-label>
        <input type="text" class="form-control" id="apellido" placeholder="Ingrese apellido" formControlName="apellido">
        <small class="invalid" *ngIf="formGroup.get('apellido')?.errors?.required && formGroup.get('apellido')?.touched">El apellido es requerido</small>
        <small class="invalid" *ngIf="formGroup.get('apellido')?.errors?.contieneEspacios && formGroup.get('apellido')?.touched">El apellido no puede tener espacios</small>
      <br>
      <div style="display: flex;">
        <div style="width: 50%; padding-right: 5px;">
          <mat-label for="edad">Edad</mat-label>
          <input type="number" class="form-control" id="edad" placeholder="Ingrese edad" formControlName="edad">
          <small class="invalid" *ngIf="formGroup.get('edad')?.errors?.min || formGroup.get('edad')?.errors?.max && formGroup.get('edad')?.touched">La edad debe ser entre 18 y 99 años</small>
          <small class="invalid" *ngIf="formGroup.get('edad')?.errors?.required && formGroup.get('edad')?.touched">La edad es requerida</small>
        </div>

          <div style="width: 50%;">
            <mat-label for="telefono">Telefono</mat-label>
            <input type="text" class="form-control" id="telefono" placeholder="Ingrese telefono" formControlName="telefono">
            <small class="invalid" *ngIf="!formGroup.get('telefono')?.errors?.contieneLetras && formGroup.get('telefono')?.errors?.mayorADiez">El telefono no puede tener mas de 10 numeros</small>
            <small class="invalid" *ngIf="!formGroup.get('telefono')?.errors?.required && formGroup.get('telefono')?.errors?.contieneLetras && formGroup.get('telefono')?.touched">El telefono solo puede tener numeros</small>
            <small class="invalid" *ngIf="formGroup.get('telefono')?.errors?.required && formGroup.get('telefono')?.touched">El telefono es requerido</small>
          </div>
      </div>
      <br>
        <mat-label for="juegos">Califica tu experiencia general</mat-label>
      <br>

        <p class="calificar">
          <input type="radio" name="valoracion" id="emoji1" value="Me encanto" formControlName="valoracion"><label for="emoji1" id="emoji">🤩</label>
          <input type="radio" name="valoracion" id="emoji2" value="Me gusto" formControlName="valoracion"><label for="emoji2" id="emoji">😁</label>
          <input type="radio" name="valoracion" id="emoji3" value="Esta ok" formControlName="valoracion"><label for="emoji3" id="emoji">🙂</label>
          <input type="radio" name="valoracion" id="emoji4" value="Aburrido" formControlName="valoracion"><label for="emoji4" id="emoji">🥱</label>
          <input type="radio" name="valoracion" id="emoji5" value="Un asco" formControlName="valoracion"><label for="emoji5" id="emoji">🤮</label>
        </p>
        <small class="invalid" *ngIf="formGroup.get('valoracion')?.errors?.required && formGroup.get('valoracion')?.touched">
          La valoracion es requerida</small>
      <br>
        <mat-label for="juego">Juego favorito</mat-label>
          <select class="form-control" formControlName="juego">
            <option value="">Seleccione uno</option>
            <option value="memotest">Memotest</option>
            <option value="ppt">Piedra Papel o Tijera</option>
            <option value="tateti">TaTeTi</option>
            <option value="dados21">Dados21</option>
          </select>
        <small class="invalid" *ngIf="formGroup.get('juego')?.errors?.required && formGroup.get('juego')?.touched">El juego es requerido</small>
        <br>

        <mat-label for="comentario">Comentario</mat-label>
        <textarea class="form-control" id="comentario" placeholder="Deja un comentario sobre tu experiencia (maximo 120 caracteres)" formControlName="comentario"></textarea>
        <small class="invalid" *ngIf="formGroup.get('comentario')?.errors?.mayor120">Se admiten hasta 120 caracteres</small>
        <small class="invalid" *ngIf="formGroup.get('comentario')?.errors?.required && formGroup.get('comentario')?.touched">El comentario es requerido</small>
    </div>
    <div class="div-boton">
        <button mat-raised-button class="boton" type="submit" [disabled] ="formGroup.invalid">
          Enviar
        </button>
    </div>

  </form>
</div>
