

.card-q{
  position: relative;
  max-width: 800px;
  background-color: rgba(255, 255, 255, 0.822);
  box-shadow: 0 0 10px rgb(184, 181, 181) !important;
}

.div-container{
  position: absolute;
  top: 17%;
  left: 28%;
}

.yo-icon{
  position: relative;
  max-height: 400px;
  max-width: 500px;
  left: 11%;
  border-radius: 5px;
}
