

<mat-toolbar class="tulbar"color="dark">
  <span class="titulo"> SALA DE JUEGOS</span>
  <mat-toolbar-row >
    <span class="espaciador"></span>
    <button mat-button class="boton-bar hvr-shadow" [routerLink]="['/registro']"> REGISTRARSE <mat-icon>control_point</mat-icon></button>
    <button mat-button class="boton-bar hvr-shadow" [routerLink]="['/']"> VOLVER <mat-icon>replay</mat-icon></button>
  </mat-toolbar-row>
</mat-toolbar>


<br><br><br>


<div>
  <h1>LOGIN</h1>
  <div>
    <input type="email" placeholder="ingrese correo electronico" [(ngModel)]="usuario.correo">
    <br>
    <input type="password" placeholder="ingrese contraseña" [(ngModel)]="usuario.clave">


    <br>
    <button [routerLink]="['/']">Volver</button>
    <br>
    <button (click)="logearse()">Enviar datos</button>
  </div>
</div>


<button (click)="error()">ERROR</button>

