<div class="principal">
  <mat-toolbar class="tulbar"color="dark">
    <span class="titulo"> SALA DE JUEGOS</span>
    <mat-toolbar-row >
      <span class="espaciador"></span>
      <button mat-button class="boton-bar hvr-shadow" [routerLink]="['/juegos']"> VOLVER <mat-icon>replay</mat-icon></button>
    </mat-toolbar-row>
  </mat-toolbar>

  <div class="spinner-container" *ngIf="this.loading">
    <mat-spinner class="spinner"></mat-spinner>
  </div>

  <div *ngIf="!this.loading">
    <app-chat [juego]="juegoActual" [usuario]="usuarioActual"></app-chat>
    <div>

    </div>
  </div>
</div>
