.div-container{
  position: absolute;
  top: 0;
  bottom: 0;
  max-height: 1000px;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  margin-left: 20px ;
  margin-right: 20px ;
  margin-top: 20px ;
  margin-bottom: 20px ;
}

.card-container{
  margin-top: 20px;
  width: 100%;
  max-width: fit-content;
  box-shadow: 0 0 10px rgb(184, 181, 181) !important;
  border-radius: 5px;
  padding: 5px;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  animation: popup 1s;
}

@keyframes popup {
  0%{
    transform: scale(0.8);
  }
  50%{
    transform: scale(1.1);
  }
  100%{
    transform: scale(1);
  }
}

.btn{
  height: 150px;
  width: 150px;
  margin: 5px;
  background-image: url("../../../../../assets/memotest/p.png");
  background-size: cover;
}

.card{
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 5px auto;
}

.verde{
  background-image: url("../../../../../assets/memotest/pizza.png");
  background-size: cover;
}

.rojo{
  background-image: url("../../../../../assets/memotest/hamburguesa.png");
  background-size: cover;
}

.azul{
  background-image: url("../../../../../assets/memotest/pancho.png");
  background-size: cover;
}

.negro{
  background-image: url("../../../../../assets/memotest/ensalada.png");
  background-size: cover;
}

.amarillo{
  background-image: url("../../../../../assets/memotest/nachos.png");
  background-size: cover;
}

.blanco{
  background-image: url("../../../../../assets/memotest/papas.png");
  background-size: cover;
}

.btn-comenzar{
  width: 500px;
  height: 100px;
  background-color: rgba(255, 2, 2, 0.774);
  display: inline-block;
  padding: 15px 25px;
  font-size: 40px;
  border: none;
  border-radius: 25px;
  box-shadow: 0 15px rgb(112, 112, 112);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: white;
  cursor: pointer;
}

.btn-comenzar:active{
  background-color: rgba(240, 11, 11, 0.774);
  box-shadow: 0 9px rgb(39, 39, 39);
  transform: translateY(4px);
}

.btn-comenzar:hover{
  background-color: rgba(240, 11, 11, 0.774);
}
