<mat-toolbar class="tulbar"color="dark">
  <span class="titulo"> SALA DE JUEGOS</span>
  <mat-toolbar-row >
    <span class="espaciador"></span>
    <button mat-button class="boton-bar hvr-shadow" [routerLink]="['/juegos']"> VOLVER <mat-icon>replay</mat-icon></button>
  </mat-toolbar-row>
</mat-toolbar>

<div class="spinner-container" *ngIf="this.loading">
  <mat-spinner class="spinner"></mat-spinner>
</div>

<div *ngIf="!this.loading">
  <app-chat [juego]="juegoActual" [usuario]="usuarioActual"></app-chat>
  <div class="div-cont">
    <div class="card-q" >
      <button mat-raised-button class="buton {{this.arrayFinal[0]}}"></button>
      <button mat-raised-button class="buton {{this.arrayFinal[1]}}"></button>
      <button mat-raised-button class="buton {{this.arrayFinal[2]}}"></button>
      <button mat-raised-button class="buton {{this.arrayFinal[3]}}"></button>
    </div>
    <div class="card-w">
      <button mat-raised-button class="buton {{this.arrayFinal[4]}}"></button>
      <button mat-raised-button class="buton {{this.arrayFinal[5]}}"></button>
      <button mat-raised-button class="buton {{this.arrayFinal[6]}}"></button>
      <button mat-raised-button class="buton {{this.arrayFinal[7]}}"></button>
    </div>
    <div class="card-e" >
      <button mat-raised-button class="buton {{this.arrayFinal[8]}}"></button>
      <button mat-raised-button class="buton {{this.arrayFinal[9]}}"></button>
      <button mat-raised-button class="buton {{this.arrayFinal[10]}}"></button>
      <button mat-raised-button class="buton {{this.arrayFinal[11]}}"></button>
    </div>
  </div>
</div>
