

<app-cabecera [componente]="'juego'"></app-cabecera>
<div class="principal">
  <div class="spinner-container" *ngIf="this.loading">
    <mat-spinner class="spinner"></mat-spinner>
  </div>

  <div *ngIf="!this.loading" class="div-container">
    <div class="card-container row" *ngIf="comenzo">
      <div class="col-3" *ngFor="let item of tarjetas;">
        <img src="{{item.imagen}}" class="tarjeta bloque" alt="" id="{{item.idHtml}}" (click)="seleccionar(item)">
        <br>
      </div>
    </div>
    <span *ngIf="comenzo" class="encabezado tipografia">Te quedan {{movimientos}} movimientos restantes.</span>
      <button *ngIf="!comenzo" class="btn-comenzar" (click)="this.comenzo = true"> COMENZAR A JUGAR</button>
      <app-chat [juego]="juegoActual" [usuario]="usuarioActual"></app-chat>
  </div>



</div>

