.div-container{
  position: absolute;
  top: 0;
  bottom: 0;
  max-height: 1000px;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  margin-left: 20px ;
  margin-right: 20px ;
  margin-top: 20px ;
  margin-bottom: 20px ;
}

.card-container{
  margin-top: 20px;
  max-width: 800px;
  background-color: rgb(184, 181, 181);
  border-radius: 5px;
  padding: 10px;
  animation: popup 1s;
}

@keyframes popup {
  0%{
    transform: scale(0.8);
  }
  50%{
    transform: scale(1.1);
  }
  100%{
    transform: scale(1);
  }
}

.tarjeta{
  border: 1px solid black;
  margin: 3px;
  height: 150px;
  width: 150px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 7px rgb(184, 181, 181);
  border-radius: 5px;
  cursor: pointer;
}

.encontrada{
  border: 1px solid rgb(192, 3, 3);
  box-shadow: 0 0 7px rgb(184, 181, 181);
  opacity: 0.6;
  margin: 3px;
  height: 150px;
  width: 150px;
  border-radius: 5px;
  cursor:auto;
}
.bloque{
  height: 150px;
  width: 150px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 7px rgb(184, 181, 181);
  filter:brightness(0);
  border-radius: 5px;
  cursor: pointer;
}

.encabezado{
  display: flex;
  width: 100%;
  bottom: 0;
  font-size: 20px;
  margin-top: 10px;
  justify-content: center;
  background-color: rgb(184, 181, 181);
  border-radius: 5px;
  color: black;
  animation: popup 1s;
}

.btn-comenzar{
  width: 500px;
  height: 100px;
  background-color: rgba(255, 2, 2, 0.774);
  display: inline-block;
  padding: 15px 25px;
  font-size: 40px;
  border: none;
  border-radius: 25px;
  box-shadow: 0 15px rgb(112, 112, 112);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: white;
  cursor: pointer;
}

.btn-comenzar:active{
  background-color: rgba(240, 11, 11, 0.774);
  box-shadow: 0 9px rgb(39, 39, 39);
  transform: translateY(4px);
}

.btn-comenzar:hover{
  background-color: rgba(240, 11, 11, 0.774);
}
