
.div-cont{
  position: absolute;
  left: 30%;
  top: 20%;
  width: 650px;
  box-shadow: 0 0 10px rgb(184, 181, 181) !important;
  border-radius: 5px;
}

.buton{
  height: 150px;
  width: 150px;
  margin: 5px;
}

.card-q{
  position: relative;
  width: 650px;
  margin-left: 5px;
  margin-top: 5px;
}
.card-w{
  position: relative;
  width: 650px;
  margin-left: 5px;
}
.card-e{
  position: relative;
  width: 650px;
  margin-left: 5px;
  margin-bottom: 5px;
}

.verde{
  background-color: green;
}

.rojo{
  background-color: red;
}

.azul{
  background-color: blue;
}

.negro{
  background-color: black;
}

.amarillo{
  background-color: yellow;
}

.blanco{
  background-color: white;
}

