
.boton-container{
  position: absolute;
  top: 25%;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
}

.div-container{
  padding: 10px;
  margin: 10px;
  max-width: 300px;
  align-content: center;
  justify-content: center;
}


.boton-memo{
  width: 300px;
  height: 300px;
  display: flex;
  border-radius: 100%;
  background-image: url("../../../../../../../PrimerApp/src/assets/juegos/memo.png");
  background-size:cover;
}

.boton-ppt{
  width: 300px;
  height: 300px;
  display: flex;
  border-radius: 100%;
  background-image: url("../../../../../../../PrimerApp/src/assets/juegos/ppt.jpg");
  background-size:cover;
}

.boton-tateti{
  width: 300px;
  height: 300px;
  display: flex;
  border-radius: 100%;
  background-image: url("../../../../../../../PrimerApp/src/assets/juegos/tateti.jfif");
  background-size:cover;
}

.boton-mio{
  width: 300px;
  height: 300px;
  display: flex;
  border-radius: 100%;
  background-image: url("../../../../../assets/juegos/dados.jpg");
  background-size:cover;
}



